* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Domine', serif;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}


/*bagian header*/

header {
    font-family:"Times new roman";
}

header nav {
    display: flex;
    background-color:#dcdcdc;
    justify-content: space-around;
    color: #808080;
    height: 100px;
    align-items: center;
}

.header-logo {
    font-size: 30px;
      padding-right:250px;
    
}

header nav ul {
    display: flex;
    list-style: none;
    width: 45%;
     justify-content: space-between;
   padding-left: 240px;
      padding-right: 50px;

}

header nav ul li a {
      color: #808080;
    text-decoration: none;
    font-size: 20px;

}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

//////////////////////////////////////////

main{
    display: flex;
    background-color:#dcdcdc;
    justify-content: space-around;
    color: #808080;
    height: 500px;
    align-items: left;
}


footer{
    display: flex;
    background-color:#dcdcdc;
    justify-content: space-around;
    color: #808080;
    height: 100px;
    align-items: center;
    padding-right: 425px;
}

main{
    
    background-color:#dcdcdc;
    color: #808080;
    height: 410px;
}

main h1{
  margin-top:0px;
  padding-top:50px;
   padding-bottom:50px;
}

img.kualitas {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left:325px;
    
}


footer a{
 color: #808080;
}
